<!DOCTYPE html>
<html>

<body background= "http://thewaycom.com.br/novosite/wp-content/uploads/2016/12/audiovisual.jpg">


    <form align="center"  action="/search?q={{value}}&page=1" method="get" id="searchbox" style="padding-top: 100px">
        <input class="center-block" type="text"   id="search-input" name="q" value="" placeholder="Please search for a movie" style=" font-size: xx-large;width: 500px; height: inherit"
               on="enter"
        />
        <button type="submit" formaction="/search?q={{value}}&page=1" style=" font-size: xx-large;width: inherit; height: inherit">Search</button>
    </form>
</body>

