
    <h1 style="color: white"><b>Search Results</b></h1>
        <table  class="table borde" style="margin-top: 20px; text-align: center; width: 400px;" align="center">
            {{#each results}}
                <tr>
                    <li>


                            <a href = 'movies/{{id}}'>
                                {{title }}
                        <tr><img src='{{img}}'width='250px'></tr>
                        </a>
                    </li>
                </tr>
            {{/each}}
        </table>


