<!doctype html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body>
    {{> menu }}    
    <div class="ui segment">
      {{> cinemaForm action=actionUrl cinema=cinemaInfo}}
    </div>
  </body>
</html>
