
    <h1 style="color: white"><b>Sessions</b></h1>
        <table  class="table borde" style="margin-top: 20px; text-align: center; width: 400px;" align="center">
        <td>

            <form >
                <input type="text" name="cinema" class="form-text" placeholder="Cinema Name"id="l"/>
                <input type="text" name="cinema" class="form-text" placeholder="Cinema Name"id="l"/>
                <input type="button" value="Create new Session" id="newSession"/>
            </form>
            </td>
        </table>


