<!doctype html>
<html lang="en">
<head>
    {{> head}}
</head>
<body style="background-image:url(http://thewaycom.com.br/novosite/wp-content/uploads/2016/12/audiovisual.jpg)">

{{> menu home="active"}}
<form align="center" action="/OTRA/filmes/search"
   method="post" id="searchbox" style="padding-top: 100px">
        
           <input class="center-block" type="text"   id="search-input" name="movieTitle" 
            value="" placeholder="Please search for a movie" 
            style=" font-size: xx-large;width: 500px; height: inherit"
            on="enter"
        />
        <button type="submit"  
                style=" font-size: xx-large;width: inherit; height: inherit">Search</button>
    </form>
</body>

