<!doctype html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body>
  {{> menu this.menuState }}

  <div class="ui segment">
      <div class="ui two column grid container">
        <div class="column middle aligned">
            <div class="ui small image floated right"><img src="/OTRA/images/cinema_ticket_icon_01__icon.png"></div>
        </div>
        <div class="column middle aligned">
          <div style="margin-bottom: 0.7em">
          <h2 style="display: inline; margin-right: 0.2em">OTRA</h2> 
            
          </div>
          <div>Online Ticket Reservation Application</div>
        </div>
      </div>
      <h4 class="ui horizontal divider header">
          <i class="info icon"></i> Latest News
      </h4>
    </div>
  </body>
</html>