<!doctype html>
<html lang="en">
<head>
    {{> head}}
</head>
<body>
{{> menu this.menuState }}
<div class="ui segment">
    <h4 class="ui dividing header">Sessões Registadas</h4>

    {{#each this.sessions.CinemasessionView}}




         <li>  cona</li>

    {{/each}}

    <li>  cona</li>
</div>


    {{#if menuState.user}}
    <div class="ui container">
        <div class="ui right floated button" data-tooltip="Registar Sessão" data-position="left center">
            <a href="/OTRA/sessoes/Create"><i class="plus icon"></i> Criar </a>
        </div>
    </div>
    {{/if}}
</div>
</body>
</html>